---
title: Home
---

<h1 class="main-title">
  <img src="/img/Attention.png" alt="">
  HI!
  <img src="/img/Attention.png" alt="">
</h1>
<h2>Welcome to my website!</h2>
<p>There's some fun random files <a href="misc">here</a></p>
<p>&bull; Big Linux and open-source software enthusiast</p>
<p>&bull; I hate ads, so you won't find any on this site.</p>
{% if site.posts.size >= 2 %}
<h2>Blog posts</h2>
<h3>Lastest Post</h3>
<ul>
  {% for post in site.posts limit:1 %}
    <li>
      <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
      {{ post.excerpt }}
    </li>
  {% endfor %}
</ul>
{% endif %}
{% if site.posts.size >= 2 %}
  <h3>Previous Posts</h3>
  <ul>
    {% for post in site.posts offset:1 limit:2 %}
      <li>
        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>
{% endif %}
