<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}} | {{site.name}}</title>

    <link rel="stylesheet" href="/main.css" />

</head>

<body>
    <div class="header">
        <h1>Disc0.net</h1>
    </div>
    <div class="left">
        {% include navigation.html %}
    </div>
    <div class="center">
        {{content}}
    </div>
    <div class="right">
        {% include awesome.html %}
    </div>
    <div class="footer">
        <a href="" style="font-size: larger;">&lt; Previous Site</a>
        <h4>&copy; 2025 Disc0.net</h4>
        <a href="" style="font-size: larger;">Next Site &gt;</a>
    </div>

</body>

</html>